*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
    font-size: 5em;
    padding: 40px;
}

.container{
    margin-top: 20px;
    display: flex;
    height: 75vh;
}

div h2, p{
    padding: 5px;
}

.container div:nth-child(2){
    background-color: blue;
    width: calc(100% - 33%);
}

.container div:first-child{
    background-color: red;
    width: calc(33% - 20px);
}

.container div:last-child{
    background-color: yellow;
    width: calc(33% - 20px);
}

footer{
    background-color: #000;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p{
    color: rgb(255, 255, 255, 1);
    font-size: 1.5em;
}

@media only screen and (min-width: 300px) and (max-width:991px) {

    .container{
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .container div:nth-child(2){
        background-color: blue;
        width: 100%;
    }
    
    .container div:first-child{
        background-color: red;
        width: 100%;
    }
    
    .container div:last-child{
        background-color: yellow;
        width: 100%;
    }
}