html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Bienvenue sur Express 2000
        //- link(rel="stylesheet", href="style.css")

    body(style={background : 'lightblue'})
        h1(style={color: '#000F', background: 'chartreuse'}) Bienvenue sur Express 2000
        p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero dolorem, dicta eveniet quibusdam ipsum quasi, dolore, culpa iste corporis sit nostrum vel ea fugiat recusandae ipsam eius deleniti illo. Qui.
        a(href="/") Sommaire
        ul 
            li
            li
            li
            li
            li
    footer(style={background:'chartreuse'})
        p.text-center &copy 2024
        