*{
    box-sizing: border-box;
    background-color: #1e90ff;
    color: #fff;
    font-family: 'Sora', sans-serif
}

header{
    text-align: center;
    color: #fff;
    padding: 20px 0;
    line-height: 3em;
}

nav a{
    text-decoration: none;
    padding-left: 15px;
}

nav a:hover{
    font-size: 1.25em;
}

img{
    border-radius: 10px;
    display: block;
    margin-left: 35%;
}

section p{
    margin-top: 20px;
}

table th{
    background-color: #0000ff;

}

table{
    margin:auto;
    border-radius: 5px;
    background-color: #0000ff;
    overflow: hidden;
}

td{
    background-color: #fff;
    color: black;
    text-align: center;
    padding: 8px;
}

td:first-child{
    background-color: #0000ff;
    color: #fff;
}

fieldset{
    margin: 30px 0px;
    border: 1px solid #fff;
    border-radius: 10px;
}

input{
    background-color: #fff;
    color: black;
    margin-top: 10px;
}

option{
    color: #000;
}

button{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: 79%;
    background-color: #0000ff;
    padding: 10px 5px;
    border-radius: 20px;
    color: #fff;
    border: #0000ff;
    font-weight: bolder;
    opacity: 0.5;
}

textarea{
    background-color: #fff;
    margin: 5px;
    border-radius: 10px;
    width: 100%;
    resize: none;
}

.container{
   display: flex;
   justify-content: center;
   align-items: center;
}

legend{
    padding: 10px 5px;
}

.float::first-letter{
    font-size: 2em;
    float:left;
}
