<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <mapping class="org.example.exercice_gestion_hopital.model.CareSheet"/>
        <mapping class="org.example.exercice_gestion_hopital.model.Consultation"/>
        <mapping class="org.example.exercice_gestion_hopital.model.Patient"/>
        <mapping class="org.example.exercice_gestion_hopital.model.Prescription"/>
    </session-factory>
</hibernate-configuration>